/* Reset some default browser styles */
body, ul, li, h2 {
    margin: 0;
    padding: 0;
    list-style: none;
}

/* General Styles */
body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    color: #333;
}

/* Navbar Styles */
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #333;
    padding: 10px 20px;
}

.navbar .logo {
    color: #fff;
    font-size: 24px;
}

.nav-links {
    display: flex;
}

.nav-links li {
    margin-left: 20px;
}

.nav-links a {
    color: #fff;
    text-decoration: none;
    padding: 5px 10px;
    transition: background-color 0.3s;
}

.nav-links a:hover {
    background-color: #555;
    border-radius: 5px;
}

/* Banner Section */
.banner-section img {
    width: 100%;
    height: auto;
    display: block;
}

/* Category Section */
.category-section {
    padding: 15px;
    background-color: #f4f4f4;
}

.category-section ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.category-section li {
    text-align: center;
    margin: 10px;
    width: 100px;
}

.category-section img {
    width: 150px;
    height: 150px;
    object-fit: cover;
}

.category-section span {
    display: block;
    margin-top: 10px;
    font-size: 16px;
}
.category-section li:hover{
    transform: scale(1.2);
}

/* New Arrivals Section */
.arrival-section {
    padding: 25px;
}

.arrival-section .sub-section ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.arrival-section .sub-section li {
    text-align: center;
    margin: 37px;
    width: 170px;
}

.arrival-section .sub-section img {
    width: 160px;
    height: 165px;
    object-fit: cover;
}

.arrival-section .sub-section span {
    display: block;
    margin-top: 15px;
    font-size: 25px;
}
.arrival-section li:hover{
    transform: scale(1.2);
}

/* Second Banner Section */
.banner-2 img {
    width: 100%;
    height: auto;
    display: block;
    margin-top: 20px;
}

/* Discount Section */
.discount-section {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 20px;
    background-color: #f9f9f9;
}

.discount-section img {
    width: 145px;
    height: 170px;
    margin: 50px;
    object-fit: cover;
}
.discount-section li:hover{
    transform: scale(1.2);
}

/* Footer Styles */
.footer {
    background-color: #333;
    padding: 20px 0;
    text-align: center;
    color: #fff;
}

.footer img {
    width: 100%;
    height: auto;
    display: block;
}
